listen: :{{ .Hy2Port }}

tls:
  cert: {{ .Hy2CertPath }}
  key: {{ .Hy2KeyPath }}

auth:
  type: http
  http:
    url: http://127.0.0.1:{{ .PanelPort }}/hy2/auth
    insecure: false

trafficStats:
  listen: 127.0.0.1:7653
  secret: {{ .Hy2TrafficSecret }}

{{ if .Hy2ObfsEnabled }}
obfs:
  type: salamander
  salamander:
    password: {{ .Hy2ObfsPassword }}
{{ end }}

bandwidth:
  up: {{ .Hy2BandwidthUp }}
  down: {{ .Hy2BandwidthDown }}

masquerade:
  type: proxy
  proxy:
    url: {{ .Hy2MasqueradeURL }}
    rewriteHost: true

