{
  "listen": ":{{ .Hy2Port }}",
  "tls": {
    "cert": {{ .Hy2CertPath | json }},
    "key": {{ .Hy2KeyPath | json }},
    "sniGuard": "dns-san"
  },
  "quic": {
    "initStreamReceiveWindow": 8388608,
    "maxStreamReceiveWindow": 8388608,
    "initConnReceiveWindow": 20971520,
    "maxConnReceiveWindow": 20971520,
    "maxIdleTimeout": "30s",
    "maxIncomingStreams": 1024,
    "disablePathMTUDiscovery": false
  },
  "bandwidth": {
    "up": {{ .Hy2BandwidthUp | json }},
    "down": {{ .Hy2BandwidthDown | json }}
  },
  "ignoreClientBandwidth": false,
  "congestion": {
    "type": "bbr",
    "bbrProfile": "conservative"
  },
  "disableUDP": false,
  "udpIdleTimeout": "60s",
  "sniff": {
    "enable": true,
    "timeout": "2s",
    "rewriteDomain": false,
    "tcpPorts": "80,443",
    "udpPorts": "443"
  },
  "auth": {
    "type": "http",
    "http": {
      "url": "http://127.0.0.1:{{ .H2VPort }}/hy2/auth",
      "insecure": false
    }
  },
  "trafficStats": {
    "listen": {{ .Hy2TrafficListen | json }},
    "secret": {{ .Hy2TrafficSecret | json }}
  },
  "acl": {
    "inline": [
      {{- range $i, $rule := .HysteriaRejectRules }}
      {{- if $i }},{{ end }}
      {{ $rule | json }}
      {{- end }}
    ],
    "geoip": {{ .GeoIPPath | json }},
    "geosite": {{ .GeositePath | json }}
  }{{ if and .Hy2ObfsEnabled .Hy2ObfsPassword }},
  "obfs": {
    "type": "salamander",
    "salamander": {
      "password": {{ .Hy2ObfsPassword | json }}
    }
  }{{ else }},
  "masquerade": {
    "type": "proxy",
    "proxy": {
      "url": {{ .Hy2MasqueradeURL | json }},
      "rewriteHost": true
    }
  }{{ end }}
}
