[Unit]
Description=Update VPN core GeoIP and Geosite data
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=H2V_ENV_FILE=/opt/h2v/.env
ExecStart=/opt/h2v/bin/h2v geodata auto
