[Unit]
Description=Periodic VPN core GeoIP and Geosite data update check

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=h2v-geodata-update.service

[Install]
WantedBy=timers.target
