[Unit]
Description=h2v Telegram Proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=panel
Group=panel
WorkingDirectory=/opt/mypanel/data/telegram
ExecStart=/opt/mypanel/bin/telemt /opt/mypanel/configs/telegram/telemt.toml
Restart=always
RestartSec=3
StartLimitInterval=60
StartLimitBurst=10
LimitNOFILE=1048576
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/mypanel/data/telegram /opt/mypanel/logs
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
KillSignal=SIGTERM
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
